doctype html
html
  head
    title= title || 'catalog'
    //- title My Site - #{title}
    //- link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic-ext" rel="stylesheet")
    //- script(src="/javascripts/styles.bundle.js")
    //- link(href="/styles.css" rel="stylesheet")
  body
    block content
    //- script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/common.bundle.js")
    script(src="/js/styles.bundle.js")
    
